<script lang="ts">
	import Header from './components/Header.svelte';
	import { user, session } from '../store';
	import { goto } from '$app/navigation';
	import { beforeUpdate, onMount } from 'svelte';

	let handleErrorText = '';
	let users = [];

	beforeUpdate(async () => {
		if (!$session) return goto('/login');
		if ($user['role'] !== 'admin') return goto('/');
	});

	onMount(async () => {
		const response = await fetch('http://localhost:5000/users', {
			method: 'GET',
			headers: {
				'X-Token': `${$session}`,
				'Content-Type': 'application/json'
			}
		});
		const rawData = await response.json();
		switch (response.status) {
			case 200:
				users = rawData;
			default:
				return (handleErrorText = rawData.message);
		}
	});
</script>

<div>
	<Header />
	{#if users.length === 0}
		<p>No Users...</p>
	{:else}
		{#each users as user}
			<article>
				<p style={`color: ${user.role === 'admin' ? 'red' : 'blue'};`}>{user.username}</p>
				<p>{user.email}</p>
			</article>
		{/each}
	{/if}
</div>
