<script lang="ts">
	import Header from './components/Header.svelte';
	import Posts from './components/Posts.svelte';
	import { user, session } from '../store';
	import { beforeUpdate } from 'svelte';
	import { goto } from '$app/navigation';
	beforeUpdate(async () => {
		if (!$session) return goto('/login');
	});
	const promise = fetch('http://localhost:5000/', {
		method: 'POST',
		headers: {
			'Content-Type': 'application/json',
			'X-Token': `${$session}`
		}
	}).then((response) => response.json());
</script>

{#await promise then data}
	<div>
		<Header />
		<main>
			<Posts posts={data} />
		</main>
		{#if $user['role'] === 'admin'}
			<button on:click={() => goto('/write')}>Write</button>
		{/if}
	</div>
{/await}

<style>
	main {
		text-align: center;
		margin: 0 auto;
	}
</style>
