<script lang="ts">
	import Cookies from 'js-cookie';
	import jwtDecode from 'jwt-decode';
	import { goto } from '$app/navigation';
	import { user, session } from '../store';
	let email = '';
	let password = '';
	let handleErrorText = '';

	if (session) {
		Cookies.remove('session');
		session.update(() => Cookies.get('session'));
	}

	const submitForm = async () => {
		const data = {
			email: email,
			password: password
		};
		const response = await fetch('http://localhost:5000/login', {
			method: 'POST',
			body: JSON.stringify(data),
			headers: {
				'Content-Type': 'application/json'
			}
		});
		const rawData = await response.json();
		switch (response.status) {
			case 200:
				Cookies.set('session', rawData.token);
				user.update(() => jwtDecode(Cookies.get('session')));
				session.update(() => Cookies.get('session'));
				return goto('/');
			default:
				return (handleErrorText = rawData.message);
		}
	};
</script>

<main>
	<div class="content">
		<h1>M.Data</h1>
		<h2>Sign in</h2>
		{#if handleErrorText}
			<p class="handleErrorText">{handleErrorText}</p>
		{/if}
		<form on:submit|preventDefault={submitForm}>
			<label for="email">Email</label>
			<input type="email" id="email" name="email" bind:value={email} required />
			<label for="password">Password</label>
			<input type="password" id="password" name="password" bind:value={password} required />
			<input type="submit" value="Sign in" />
		</form>
		<p>No account ? You can register <a href="/register">here</a>.</p>
	</div>
</main>

<style>
	main {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		width: 100%;
	}
	h1 {
		font-size: 2rem;
		margin-bottom: 1rem;
		text-align: center;
	}
	h2 {
		font-size: 1.5rem;
		margin-bottom: 0.75rem;
		text-align: center;
	}
	input {
		width: 100%;
	}
	.content {
		min-width: 256px;
		max-width: 256px;
	}
	.handleErrorText {
		color: red;
		text-align: center;
	}
</style>
