<script>
	import Header from './components/Header.svelte';
	import { goto } from '$app/navigation';
	import { page } from '$app/stores';
	import { beforeUpdate, onMount, tick } from 'svelte';
	import { user, session } from '../store';
	import Editor from '@tinymce/tinymce-svelte';

	beforeUpdate(async () => {
		if (!$session) return goto('/login');
	});
	const id = $page.url.searchParams.get('id');

	let title = '';
	let content = '';
	let tags = '';
	let btitle = '';
	let bcontent = '';
	let btags = '';
	let edit = false;

	onMount(async () => {
		const data = {
			id: id,
			token: $session
		};

		const response = await fetch(`http://localhost:5000/get`, {
			method: 'POST',
			body: JSON.stringify(data),
			headers: {
				'Content-Type': 'application/json',
				'X-Token': `${$session}`
			}
		});
		const rawData = await response.json();
		switch (response.status) {
			case 200:
				title = rawData.title;
				content = rawData.content;
				for (const tag of rawData.tags) {
					tags += `${tag}, `;
				}
				break;
			default:
				goto('/404');
		}
	});

	const handleEditClick = () => {
		btitle = title;
		bcontent = content;
		btags = tags;
		edit = true;
	};

	const handleUpdateClick = async () => {
		const fTags = tags
			.trim()
			.toLowerCase()
			.replace(/[^a-z,]+/g, '')
			.split(',')
			.filter((value) => value.length > 0);
		const data = {
			id: id,
			token: $session,
			title: title,
			content: content,
			tags: fTags
		};
		const response = await fetch(`http://localhost:5000/get`, {
			method: 'PUT',
			body: JSON.stringify(data),
			headers: {
				'Content-Type': 'application/json',
				'X-Token': `${$session}`
			}
		});
		switch (response.status) {
			case 200:
				return window.location.reload();
			default:
				return goto('/404');
		}
	};

	const handleCancelClick = () => {
		title = btitle;
		content = bcontent;
		tags = btags;
		edit = false;
	};

	const handleDeleteClick = async () => {
		const data = {
			id: id
		};
		const response = await fetch(`http://localhost:5000/get`, {
			method: 'DELETE',
			body: JSON.stringify(data),
			headers: {
				'Content-Type': 'application/json',
				'X-Token': `${$session}`
			}
		});
		switch (response.status) {
			case 200:
				return goto('/');
			default:
				return goto('/404');
		}
	};
</script>

<div>
	<Header />
	<main>
		<article>
			{#if $user}
				{#if $user['role'] === 'admin'}
					{#if edit}
						<h1 contenteditable="true" bind:textContent={title} />
						<Editor bind:value={content} />
						<input bind:value={tags} />
						<button on:click={handleUpdateClick}>Update</button>
						<button on:click={handleCancelClick}>Cancel</button>
						<button on:click={handleDeleteClick}>Delete</button>
					{:else}
						<h1 contenteditable="false" bind:textContent={title} />
						<div contenteditable="false" bind:innerHTML={content} />
						<input bind:value={tags} disabled />
						<button on:click={handleEditClick}>Edit</button>
					{/if}
				{:else}
					<h1 contenteditable="false" bind:textContent={title} />
					<div contenteditable="false" bind:innerHTML={content} />
					<input bind:value={tags} disabled />
				{/if}
			{/if}
		</article>
	</main>
</div>
