<script lang="ts">
	import { goto } from '$app/navigation';

	let username = '';
	let email = '';
	let password = '';
	let password2 = '';
	let handleErrorText = '';

	const submitForm = async () => {
		if (password !== password2) {
			return (handleErrorText = 'Passwords not matching.');
		}
		handleErrorText = '';
		const data = {
			username: username,
			email: email,
			password: password
		};
		const response = await fetch('http://localhost:5000/register', {
			method: 'POST',
			body: JSON.stringify(data),
			headers: {
				'Content-Type': 'application/json'
			}
		});
		switch (response.status) {
			case 200:
				return goto('/login');
			case 201:
				return goto('/login');
			default:
				const message = await response.json();
				return (handleErrorText = message.message);
		}
	};
</script>

<main>
	<div class="content">
		<h1><a href="/">M.Data</a></h1>
		<h2>Sign up</h2>
		{#if handleErrorText.length > 0}
			<p class="handleErrorText">{handleErrorText}</p>
		{/if}
		<form on:submit|preventDefault={submitForm}>
			<label for="username">Username</label>
			<input type="text" id="username" name="username" bind:value={username} required />
			<label for="email">Email</label>
			<input type="email" id="email" name="email" bind:value={email} required />
			<label for="password">Password</label>
			<input type="password" id="password" name="password" bind:value={password} required />
			<label for="password2">Confirm password</label>
			<input type="password" id="password2" name="password2" bind:value={password2} required />
			<button type="submit">Submit</button>
		</form>
		<p>Already have an account ? You can login <a href="/login">here</a>.</p>
	</div>
</main>

<style>
	main {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		width: 100%;
	}
	h1 {
		font-size: 2rem;
		margin-bottom: 1rem;
		text-align: center;
	}
	h2 {
		font-size: 1.5rem;
		margin-bottom: 0.75rem;
		text-align: center;
	}
	input {
		width: 100%;
	}
	button {
		width: 100%;
	}
	.content {
		min-width: 256px;
		max-width: 256px;
	}
	.handleErrorText {
		color: red;
		text-align: center;
	}
</style>
