<script lang="ts">
	import Header from './components/Header.svelte';
	import Editor from '@tinymce/tinymce-svelte';
	import { user, session } from '../store';
	import { goto } from '$app/navigation';
	import { beforeUpdate } from 'svelte';
	let title = '';
	let content = '';
	let handleErrorText = '';
	let tags = '';
	let qcm = [
		{
			s: 1,
			q: '',
			r: []
		}
	];
	let nq = 0;

	beforeUpdate(async () => {
		if (!$session) return goto('/login');
		if ($user['role'] !== 'admin') return goto('/');
	});

	const submitForm = async () => {
		const fTags = tags
			.trim()
			.toLowerCase()
			.replace(/[^a-z,]+/g, '')
			.split(',')
			.filter((value) => value.length > 0);
		const data = {
			title: title,
			content: content,
			tags: fTags,
			qcm: qcm
		};
		const response = await fetch('http://localhost:5000/create', {
			method: 'POST',
			body: JSON.stringify(data),
			headers: {
				'Content-Type': 'application/json',
				'X-Token': `${$session}`
			}
		});
		const rawData = await response.json();
		switch (response.status) {
			case 201:
				return goto(`/post?id=${rawData._id}`);
			default:
				return (handleErrorText = rawData.message);
		}
	};

	const addResponse = (s: number) => {
		const q = qcm.find((q) => q.s === s) as any;
		const rn = q.r.length + 1;
		q.r = [...q.r, { s: rn, t: '' }];
		qcm = [...qcm];
	};

	const addQuestion = () => {
		const n = qcm.length + 1;
		qcm = [...qcm, { s: n, q: '', r: [] }];
	};
</script>

<div>
	<Header />
	<main>
		<p>{handleErrorText}</p>
		<form on:submit|preventDefault={submitForm}>
			<label for="title">Title</label>
			<input type="text" name="title" id="title" bind:value={title} />
			<Editor bind:value={content} />
			<label for="tags">Tags</label>
			<input type="tags" name="tags" id="tags" bind:value={tags} />
			{#each qcm as q}
				<label for={nq.toString() + q.q}>Question {q.s}</label>
				<input
					type="text"
					name={`${nq.toString() + q.q}`}
					id={nq.toString() + q.q}
					bind:value={q.q}
				/>
				{#each q.r as r, i}
					<label for={i.toString() + r.t}>Reponse {r.s}</label>
					<input
						type="text"
						name={`${i.toString() + r.t}`}
						id={i.toString() + r.t}
						bind:value={r.t}
					/>
				{/each}
				<button on:click|preventDefault={() => addResponse(q.s)}>Add reponse</button>
			{/each}
			<br />
			<button on:click|preventDefault={() => addQuestion()}>Add question</button>
			<input type="submit" value="Post" />
		</form>
	</main>
</div>
