<script lang="ts">
	import { user } from '../../store';
	import { beforeUpdate } from 'svelte';
</script>

<header>
	<nav>
		<div class="left-nav">
			<p>M.Data</p>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</div>
		<div class="right-nav">
			<ul>
				{#if user}
					{#if $user['role'] === 'admin'}
						<li><a href="/admin">Admin</a></li>
					{/if}
				{/if}
				<li><a href="/login">Logout</a></li>
			</ul>
		</div>
	</nav>
</header>

<style>
	header {
		display: flex;
		height: 100%;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
		width: 100%;
	}
	.left-nav {
		display: flex;
	}
	p {
		padding: 1rem;
	}
	ul {
		display: flex;
		width: 100%;
	}
	li {
		padding: 1rem;
	}
</style>
