<script>
	export let posts = [];
</script>

{#if posts.length === 0}
	<p>No article...</p>
{:else}
	{#each posts as post}
		<article>
			<h1><a href={`/post?id=${post._id}`}>{post.title}</a></h1>
		</article>
	{/each}
{/if}
